@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;1,100&display=swap');
* {
    box-sizing: border-box;
}

body {
    /* background-image: url('images/wall.jpg'); */
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container {
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #dee2e6;
    width: 600px;
    overflow: hidden;
}

h2 {
    margin: 0;
}

.quiz-header {
    padding: 4rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #06d6a0;
    color: white;
    padding: 1.3rem;
    font-size: 1.5rem;
    font-family: inherit;
    display: block;
    cursor: pointer;
    width: 100%;
    border: none;
}

button:hover {
    background-color: #05b084;
}